body {
  background-color: black;
  margin: 0;
}

/* .no-scroll {
  height: 100%;
  overflow: hidden;
} */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;  
  background-color: #262626;
  color: ghostwhite;
  width: 100%;
  height: 75px;
  box-shadow: 0px 1px 50px #5E5E5E;
  position: fixed;
  top: 0px;
  z-index: 3;
}

header h5 {
  padding-right: 100px;
}

#color-pentagram {
  height: 500px;
  width: 500px;
  background-color: black;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  z-index: 2;
}

svg {
  position: absolute;
}

#svgPoly1 {
  margin-top: 175px;
}

#svgPoly2 {
  margin-left: 110px;
  margin-right: 100px;
  margin-top: 213px;
}

#svgPoly3 {
  margin-top: 175px;
  margin-left: 250px;
}

#svgPoly4 {
  margin-left: 250px;
}

hr {
  margin-top: 700px;
  width: 90%;
}

#save-palette-container {
  display: flex;
  flex-direction: row;
}

#select-options {
  margin-top: 485px;
  height: 27px;
  margin-left: 105px;  
  
}

#palette-input {
  height: 20px;
  width: 135px;
  margin-top: 485px;
  margin-left: 10px;  
}

#title-input {
  position: absolute;
  height: 20px;
  width: 135px;
  margin-top: -65px;
  margin-left: 10px;  
}

#save-palette {
  margin-top: 485px;
  margin-left: 10px;
  width: 52px;
}

#project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: ghostwhite;
  margin-top: 100px;
}

#project-container h3 {
  border: 1px solid ghostwhite;
  padding: 25px;
}

#project-container p {
  position: absolute;
  height: 20px;
  width: 145px;
  margin-top: -85px;
  margin-left: 10px;  
}

#save-title {
  position: absolute;
  margin-left: 10px;
  margin-top: -65px;
  margin-left: 118px;
  height: 25px;
  width: 52px;
}